<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.qcc.qiuser"
          android:installLocation="auto">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:name=".Application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.MainActivity">
        </activity>
        <activity android:name=".Activity.HomeTabActivity">
        </activity>
        <activity android:name=".Activity.kotlinActivity.WaiterActivity"/>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="590a82c2a40fa3250400065f"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="yingyongbao"/>

        <activity android:name=".Activity.IntroDuceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Activity.kotlinActivity.WellcomeActivity">
        </activity>
        <activity android:name=".Activity.LoginActivity">
        </activity>
        <activity android:name=".Activity.RegistActivity">
        </activity>
        <activity android:name=".Activity.ShowWaitersActivity">
        </activity>
        <activity android:name=".Activity.TanTanActivity"/>
        <activity android:name=".Activity.kotlinActivity.FankuiActivity"/>
        <activity android:name=".Activity.kotlinActivity.SearchActivity">
        </activity>
        <activity android:name=".Activity.kotlinActivity.Main2Activity">
        </activity>
    </application>

</manifest>